html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom, rgba(29, 247, 236, 0.747));
}

#encabezado{
    border: 0.2em solid black;
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    justify-content: center;
    align-items: center;
}

#encabezado img{
    width: 70%;
    height: 70%;
    aspect-ratio: 1 / 0.8;
    border-radius: 50%;
    object-fit: contain;
}

h1{
    font-size: 5em;
    text-align: center;
}

#navegacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 2em;
}

#navegacion a{
    text-decoration: none;
    text-shadow: 0.2em 0.2em 0.2em rgb(6, 29, 105);
    color: rgb(255, 255, 255);
    background-color: rgb(153, 15, 15);
    border-radius: 10%;
    text-align: center;
}

#contenedor-noticias{
    border: 0.2em solid black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

.noticias{
    border: 0.2em solid black;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.noticias h2{
    grid-column: 1/4;
    text-align: center;
    align-content: center;
}

.noticia{
    border: 0.2em solid black;
    box-shadow: 0.2em 0.2em 0.2em black;
    align-content: center;
    text-align: center;
}

.noticias-urgentes{
    grid-column: 5/7;
    border: 0.2em solid red;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-rows: repeat(3, 1fr);
    height: 30em;
    overflow-y: auto;
}

.noticias-urgentes h2{
    text-align: center;
    align-content: center;
}

.noticia-u{
    border: 0.2em solid black;
    box-shadow: 0.2em 0.2em 0.2em black;
    align-content: center;
    text-align: center;
    height: 20em;
}
