html{
    font-size: 62.5%;
}

body{
    padding: 0;
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#encabezado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #520404;
}

#encabezado img{
    width: 10em;
    height: 10em;
    margin: 0.5em;
    border: 0.2em outset rgb(255, 18, 18)
}


#encabezado h1{
    color: #ff0909;
    font-size: 2.5em;
}

#encabezado ul{
    border: 0.1em solid rgb(45, 15, 153);
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

#encabezado ul li{
    margin: 0.2em;
}

#encabezado ul li a{
    color: rgb(235, 229, 229);
}

.contenedor_flex{
    border: 0.2em outset rgb(255, 234, 0);
    padding: 0.5em;
    display: flex;
    height: 30em;
    width: 30em;
    /*flex-direction (row, collumn, row-reverse y column-reverse)*/
    flex-direction: row;
    /*justify-content (flex-start, flex-end, center, space-between, space around, space-evely) MAIN-AXIS (EJE-X)*/
    justify-content: space-evenly;
    /*align-items (flex-start, flex-end, center, strech, baseline)*/
    align-items: baseline;
    flex-wrap: wrap;
}

.contenedor_flex div{
    background-color: black;
    color: white;
    border: 0.1em solid rgb(253, 0, 59);
    height: 10em;
    width: 30em;
    margin: 0.5em;
}

.objeto1{
    order: 1;
}

.objeto2{
    order: -1;
}

.objeto3{
    order: -1;
}

.objeto4{
    order: -2;
}

@media screen and (max-width: 350px){
    #encabezado ul{
        border: 0.1em solid goldenrod;
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        font-size: 0.7em;
    }

    #encabezado h1{
        font-size: 1.5em;
    }

    #encabezado img{
        width: 20%;
        height: 20%;
    }
}
